/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.nav-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #340B3C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-logo {
    font-family: 'Jersey 10', serif;
    font-style: normal;
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
    /* White text color for logo */
}

.nav-logo a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent element */
    transition: color 0.3s ease;
}

.nav-logo a:hover {
    color: #c4aaeb; 
}

.nav-menu {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-item {
    position: relative;
}

.nav-item img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-item:hover::after,
.nav-item img.active::after {
    width: 100%;
}

.nav-item:hover img,
.nav-item img.active {
    transform: scale(1.1);
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    color: transparent;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #340B3C;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .nav-menu.show-menu {
        display: flex;
    }
}
